<h1>$stylist.getStyler()</h1>

<ul>
  #foreach($client in $stylist.getClients())
    <li>$client.getName()</li>
  #end
</ul>

<form action="/stylists/$stylist.getId()/delete">
  <button type="submit" class="btn btn-danger">Delete Stylist</button>
</form>

<a href="/stylists/$stylist.getId()/clients/new">Add a client</a>
<a href="/stylists">Back home</a>
