<h1>Current Stylists</h1>

<p>What stylists are available today?</p>

<form action='/stylists' method='post'>
  <div class="form-group">
    <label for="styler">Stylist:</label>
    <input id="styler" name="styler" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
